
.header{
    background-color: #4a371f;
   /* position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    min-height: 7.4rem;
    display: flex;
    align-items: stretch;
    font-family: 'Courier New';
}

.header_content{
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 100%;
}
.logo{
    margin: 0 auto 0 0;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .05em;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.navigation_list{
    margin: 0;
    padding: 0;
    align-items: flex-start;
    color: #000;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navigation_item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    position: relative;
    transition: .25s ease-out;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
a{
    text-decoration: none;
    border: none;
    color:rgb(226, 177, 17);
    line-height: 1.5;
    display: block;
    padding: 1.5rem 2rem;
    background-color: transparent;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.span_ul{
    position: relative; 
    width: 200px;
    padding: 10px;
    margin: 0 auto;
 
    /* цвет и фон */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;
 
    /* шрифт */
    font-weight: bold;
}