.conteiner{

    background-color: rgb(214, 214, 121);
    border: 1mm ridge rgba(0, 0, 0, 0.6);

}
body{
    background-color: rgb(214, 214, 121);
}


.block{
    background-color:  rgb(212, 115, 219);
    border-radius: 15px;
    position:absolute;
    padding:15px;
    transition: 2s;

}





.block_active{
    background-color:  rgba(126, 35, 211, 0.637);
    border-radius: 15px;
    position:absolute;
    margin: auto;
    padding:15px;
    transition: 2s;
}

.block_active_active{
    background-color:  rgb(149, 230, 42);

    border-radius: 15px;
    position:absolute;
    margin: auto;
    padding:15px;
    transition: 2s;
}
.reload{
    visibility: hidden;
}
.frase{
    text-align: center;
    color:red;
}