body {
  /*background-color: brown;*/
  background: rgb(60, 85, 209);
  background: radial-gradient(
    circle,
    rgba(60, 85, 209, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  /*margin: 0;*/
}

.windowStart,
.windowGamePreview,
.windowGame,
.windowFlask,
.windowPiramid,
.windowFlaskContinueFailure,
.windowPiramidContinueFailure,
.windowPiramidContinue,
.windowSettings,
.windowFlaskContinue,
.windowRatingFlask {
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 33px;
  border: 4px ridge white;
}

button {
  font-size: 105%;
  background: rgb(181 29 204);
  color: #fff;
 /* border:0.25rem solid #000000;*/
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  box-shadow: 7px 0 15px black;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #3498db;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
.main, .main * {width: 100%;
height: 20%;}
.table{
  background-color: antiquewhite;
  width: 80%;
  margin: 0 auto;
}

th{
  background-color: rgb(249, 242, 242);
  box-shadow: 10px 5px 5px black;
  font-size: 150%;
  

}

button:disabled {color: rgb(255, 0, 0); }




.windowStart {
  position: absolute;

  min-height: 100px;
  text-align: center;
  /* background-color: rgb(199, 163, 163);*/
  background-color: rgb(90 54 156);

  display: flex;
  animation: unshow 1s;
  justify-content: center;
}

.conteinerRatingFlask{
  
  margin: 2% auto;

}
.windowRatingFlask{

    position: absolute;
  
    min-height: 100px;
    text-align: center;
    /* background-color: rgb(199, 163, 163);*/
    background-color: rgb(231, 0, 131);
  
    display: none;
    animation: unshow 1s;
    justify-content: center;

}

.windowSettings{
  position: absolute;

  min-height: 100px;
  text-align: center;
  /* background-color: rgb(199, 163, 163);*/
  background-color: rgb(211, 142, 14);

  display: none;
  animation: unshow 1s;
  justify-content: center;
}


.errName {
  display: none;
  color: rgb(255, 0, 0);
}

.startcontent {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
}

.windowGamePreview {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(152 17 165);

  display: none;
  animation: show 1s;
  flex-direction: row;
}

.windowGame {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(194, 28, 209);

  display: none;
  animation: show 1s;
}
.windowFlask {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);
  

  display: none;
  animation: show 1s;
}
.windowPiramid {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);;

  display: none;
  animation: show 1s;
}

.flask {
  width: 40%;
  border-radius: 33px;
  background:rgb(107, 89, 182);
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  margin-top: 2%;
  display: inline-block;
  margin-bottom: 2%;

}

.flask:hover,
.piramid:hover {
  background-color:rgb(132, 110, 217);
}
#vIn{
  display: inline-block;
  margin: 0 auto;
  margin-top: 5%;
}

.piramid {
  width: 40%;
  border-radius: 33px;
  background-color:rgb(107, 89, 182);
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
}

.windowFlaskContinueFailure {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);;
  display: block;
  display: none;

  animation: show 1s;
}

.windowPiramidContinueFailure {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);;
  display: block;
  display: none;
  animation: show 1s;
}

.windowFlaskContinue {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);;
  display: block;
  display: none;
  animation: show 1s;
  color: white;
  /*font-size: 200%;*/
}
.windowFlaskContinue span{
  font-size: 200%;
}
.windowFlaskContinueFailure span{
  font-size: 200%;
  color: white;
}


.windowPiramidContinueFailure span{
  font-size: 200%;
  color: white;
}
.windowPiramidContinue span{
  font-size: 200%;
  color: white;
}


.auth{
color: white;
}

.windowPiramidContinue {
  position: absolute;

  min-height: 100px;
  text-align: center;
  background-color: rgb(144 148 255);;
  display: block;
  display: none;
  animation: show 1s;
  color: white;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes unshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
